.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
  position: relative;
}

.secondaryLink {
  color: hsl(236, 13%, 42%);
}

.secondaryLink:hover {
  color: hsl(5, 85%, 63%);
  text-decoration-line: none;
}

.mobileItems {
  cursor: pointer;
  color: hsl(236, 13%, 42%);
  font-weight: 500;
  line-height: 45px;
}

.mobileItems:hover {
  color: hsl(5, 85%, 63%);
}
