.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;

  
}

.secondaryLink {
  color: hsl(236, 13%, 42%);
}

.secondaryLink:hover {
  color: hsl(5, 85%, 63%);
  text-decoration-line: none;
}

